# Analysons les ventes de ton entreprise ðŸ“šðŸ“š

In [2]:
import re
import pandas as pd
from datetime import datetime 
import numpy as np

 ## 1. Cleaning files

#### Fichier "Customers"

In [13]:
#open and read csv file
customers_df = pd.read_csv("../datas/dataset_bookstore/customers.csv")
display(customers_df)

     client_id sex  birth
0       c_4410   f   1967
1       c_7839   f   1975
2       c_1699   f   1984
3       c_5961   f   1962
4       c_5320   m   1943
...        ...  ..    ...
8618    c_7920   m   1956
8619    c_7403   f   1970
8620    c_5119   m   1974
8621    c_5643   f   1968
8622      c_84   f   1982

[8623 rows x 3 columns]

In [17]:
doublons = customers_df['client_id'].duplicated()

# Comptez le nombre de doublons
nombre_de_doublons = doublons.sum()

# Affichez le rÃ©sultat
if nombre_de_doublons == 0:
    print("Il n'y a pas de valeurs identiques dans la colonne.")
else:
    print(f"Il y a {nombre_de_doublons} valeur(s) identique(s) dans la colonne.")
    print("Les doublons sont aux index suivants:")
    print(customers_df[doublons].index.tolist())

Il n'y a pas de valeurs identiques dans la colonne.

In [22]:
#delete possible space into my column
customers_df['client_id'] = customers_df['client_id'].str.replace(' ', '')
customers_df['sex'] = customers_df['sex'].str.replace(' ', '')
customers_df['birth'] = customers_df['birth'].astype(str).str.replace(' ', '').astype(int)

display(customers_df)

     client_id sex  birth
0       c_4410   f   1967
1       c_7839   f   1975
2       c_1699   f   1984
3       c_5961   f   1962
4       c_5320   m   1943
...        ...  ..    ...
8618    c_7920   m   1956
8619    c_7403   f   1970
8620    c_5119   m   1974
8621    c_5643   f   1968
8622      c_84   f   1982

[8623 rows x 3 columns]

In [26]:
#To check max and min value in my column birth
display(customers_df['birth'].max())
display(customers_df['birth'].min())

2004

1929

In [28]:
# Utilisez la mÃ©thode unique() pour obtenir les valeurs uniques dans la colonne 'genre'
valeurs_uniques = customers_df['sex'].unique()

# VÃ©rifiez si toutes les valeurs uniques sont soit 'f' soit 'm'
valeurs_autorisees = {'f', 'm'}
if set(valeurs_uniques) <= valeurs_autorisees:
    print("La colonne ne comprend que les valeurs 'f' ou 'm'.")
else:
    print("La colonne contient des valeurs autres que 'f' ou 'm'.")

La colonne ne comprend que les valeurs 'f' ou 'm'.

#### Fichier "Products"

In [27]:
#open and read csv file
products_df = pd.read_csv("../datas/dataset_bookstore/products.csv")
display(products_df)

     id_prod   price  categ
0     0_1421   19.99      0
1     0_1368    5.13      0
2      0_731   17.99      0
3      1_587    4.99      1
4     0_1507    3.99      0
...      ...     ...    ...
3282    2_23  115.99      2
3283   0_146   17.14      0
3284   0_802   11.22      0
3285   1_140   38.56      1
3286  0_1920   25.16      0

[3287 rows x 3 columns]